// Select
//MAin-Select
.main-select {
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 12px;
  color: #555;
  transition: $transition;
  border: 1px solid $light-grey-color;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(43 166 112 / 25%) !important;
    outline: none;
  }
}
// Inputs
// Form-Control Bootstrap
//
.form-control {
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(43 166 112 / 25%) !important;
  }
}

.inp-blue {
  text-align: center;
  color: #2238ff;
  font-weight: 700;
  font-size: 12px !important;
  &:focus {
    color: #2238ff !important;
    box-shadow: 0 0 0 0.25rem rgb(34 56 255 / 22%) !important;
  }
}
